@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: cursive;
}

input {
  padding: 8px 16px;
  background-color: transparent;
  color: #140d28;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}
input:focus {
  outline: none;
  border: 2px solid rgb(102, 189, 230);
}
input::placeholder {
  color: rgb(154, 168, 168);
}

.btn-primary {
  background-color: #140d28;
  color: white;
  font-weight: bold;
  padding: 10px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}
.btn-primary:hover {
  background-color: #262729;
}
.btn-primary:active {
  background-color: #140d28;
}

.btn-secondary {
  border: 2px solid #140d28;
  color: #140d28;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 4px;
  cursor: pointer;
  background: none;
  text-transform: uppercase;
}
.btn-secondary:hover {
  background-color: #ddd;
}
.btn-secondary:active {
  background: none;
}

.disabled-btn{
  background-color: rgb(168, 160, 160);
  color: rgb(230, 229, 243);
  padding: 5px 20px;
  height: 40px;
  text-transform: uppercase;
  opacity: 0.5;
  border-radius: 4px;

}

.file-input{
  display: none;
}

